#!/bin/bash
#
# File: env.sh
#
# Script for setting environment variables on the Vamplistic system. 
# You will want to copy this file to "env.sh" with your modified
# changes, depending upon the instance of this application. 
#
# It will be presumed that you have at least a dev environment
# and a production environment in which this sytem will run.
#
# Author: Matt Mumau
# Created Sept. 2, 2017
#

VAMP_DB_USER="root"
VAMP_DB_PASS="vAmp1Ist1c"
VAMP_IS_DEV=true
VAMP_PHP5_VS_7=false

function add_env_var() {
    echo "export "$1"="$2>>~/.bashrc
    echo $1"="$2>>~/.profile
    echo $1"="$2>>/etc/environment
}

add_env_var "VAMP_DB_USER" $VAMP_DB_USER
add_env_var "VAMP_DB_PASS" $VAMP_DB_PASS
add_env_var "VAMP_IS_DEV" $VAMP_IS_DEV
add_env_var "VAMP_PHP5_VS_7" $VAMP_PHP5_VS_7
